#checkEmail{
	margin: 60px auto;
	width: 299px;
	height: 100px;
	border: 5px solid rgb(151, 130, 130);
	background-image: linear-gradient(rgb(148, 228, 88), rgb(83, 139, 23));
	line-height: 100px;
	border-radius: 21px;
	padding: 0 15px;
	font-size: 22px;
	text-align: center;
	font-weight: bolder;
	color: rgb(68, 59, 59);
	}
